:root {
  --item1: #2d7096;
  --item2: #406f93;
  --item3: #586f8e;
  --item4: #77728a;
  --item5: #997888;
  --item6: #ba8287;
  --item7: #d0938b;
  --item8: #dea990;
  --item9: #e8c097;
  --item10: #f0d99e;
  --item11: #f3eba5;
  --item12: #f4ecac;

}